body {
	display: flex;
    flex-direction: column;
    justify-content: center;
	background-color: black;
	color: white;
	margin: auto;
	margin-bottom: 3em;
	text-align: center;
	width: fit-content;
    font-family: monospace;
	font-size: 16px;
}
.field {
	position: relative;
	overflow: hidden;
	width: 530px;
	height: 30px;
	border: 1px dashed #FFF;
	margin: auto;
}
.character {
	position: absolute;
	background-color: black;
	width: 30px;
	height: 20px;
	padding-top: 10px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	white-space: nowrap;
}
#titleDiv {
	padding: 10px;
}
#titleDiv>h1 {
	font-size: 2.8em;
    line-height: 1;
    margin-bottom: 0px;
}
#titleDiv>p {
	padding-top: 0px;
    margin-top: 5px;
	font-style: italic;
	font-family: serif;
	letter-spacing: 3px;
}
#statusDiv {
	clear: both;
}
#actionArea {
	padding: 35px;
}
#actionArea>p {
	margin: 5px;
}
.actionList>input[type="button"] {
	background-color: white;
	border-radius: 3px;
	margin: 2px;
}
#stateArea {
	border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: auto;
    padding: 10px;
}
#stateArea>h1 {
	margin-bottom: 0px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    font-size: 1.7em;
}
.state {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
    text-align: left;
}
.state>h2 {
	margin: 5px 0px;
	font-size: 1.2em;
    font-family: serif;
    font-style: italic;
    font-weight: 100;
}
#attractionStateDisplay,
#actionList_hero_rival,
#actionArea>h1 {
	display: none;
}
